<ul>
  <li><a class='nostyle' routerLink="/home" routerLinkActive='active-link'>Home</a></li>
  <li><a class='nostyle' routerLink="/about" routerLinkActive='active-link'>About</a></li>
  <li>
    <div class = 'drop-down' [ngClass] = "{displayMenu: worksMenuOpen}">
      <div type='button' (click)="toggleMenu()" class ='drop-down-title' routerLinkActive='active-link' >Works {{message}}</div>
      <div class ='drop-down-options'>
        <a routerLink="/blog" routerLinkActive='active-link'>Blog</a>
        <a routerLink="/instagram-feed" routerLinkActive='active-link'>Instagram</a>
        <a routerLink="/works-by-year" routerLinkActive='active-link'>Works by years</a>
      </div>
    </div>
  </li>
  <li><a class='nostyle' routerLink="/contact" routerLinkActive='active-link'>Contact</a></li>
</ul>