#about_main_container{
  background-color: rgba(235, 235, 235, 0.2);
  display: block;
  height: 65vh;
}

pre{
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  width: 100%;
  white-space: pre-line;
  max-height: 100%;
  overflow-y: auto;
}