* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

#project_selector{
  position: absolute;
  height: 88vh;
  max-height: 88vh;
  display: block;
  overflow-y: auto;
}

/*#project_display{
  position: absolute;
  background-color: rgba(173, 173, 173, .8);
  width: 100%;
  height: 88vh;
  max-height: 88vh;
  top: 0;
  left: 0;
}*/



#image_slider_close_link{
  margin: 10px auto;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, .7);
  color: rgba(235, 235, 235, 1.0);
}



img {
  width: 450px;
  height: 280px;
  max-height: 280px;
  max-width: 100%;
  display: block;
}

.grid {
  margin: 0 auto;
  
}

.grid_container {
  display: grid;
  background-color: rgba(235, 235, 235, 0.4);
  border: 1px solid rgba(235, 235, 235, 1.0);
  grid-gap: 1px;
  justify-content: center; 
  margin: 0 auto;
  overflow: hidden;
}

.grid_item {
  position: relative;
}

.grid_caption {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  max-width: 450px;
  max-height: 18px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid_caption :hover{
  overflow: visible;
}

.grid_item:hover {
  background-color: rgba(32, 163, 12, .8) ;
}

.grid_item:hover::after {
  text-align: center;
  content: 'Click for gallery';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.grid_item:hover .grid_img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 163, 12, .8);
}

.grid_item:hover .grid_img::after {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid rgba(32, 163, 12, .8);
  left: -11px;
  right: -11px;
  bottom: -11px;
  top: -11px;
}

.grid_img {
  position: relative;
  pointer-events: auto;
  border: 10px solid #fff;
}



@media only screen and (min-width: 768px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 583px;
  }
}

@media only screen and (min-width: 1024px) {
  
  .grid_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 60vw;
  }
}




