<div id = "project_selector">
  <section class="grid">
    <div class="grid_container">
      <div class="grid_item" *ngFor="let project of projects">
        <div class="grid_img">
          <img src="{{project.imageUrl}}" alt="Image of {{project.title}}" title="{{project.title}}">      
        </div>
        <div class = "grid_caption">
          {{project.title}}
        </div>
      </div>
    </div>
  </section>  
  <section id="project_display">
    <image-slider id="image_slider"></image-slider>
  </section>
</div>