/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}*/

#project_selector{
  position: absolute;
  width: 90%;
  height: 88vh;
  max-height: 88vh;
  display: block;
  overflow-y: auto;
}

img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  display: block;
}

.grid {
  margin: 2rem auto;
}

.grid__container {
  display: grid;
  background-color: rgba(235, 235, 235, 0.4);
  border: 1px solid rgba(235, 235, 235, 1.0);
  grid-gap: 1px;
  justify-content: center; 
  margin: 0 auto;
  overflow: hidden;
}

.grid__item {
  position: relative;
}

.grid__item:hover {
  background-color: #ff4b4c;
}

.grid__item:hover::after {
  content: 'Click for gallery';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.grid__item:hover .grid__img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(154, 252, 44, 0.6);
}

.grid__item:hover .grid__img::after {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid #ff4b4c;
  left: -11px;
  right: -11px;
  bottom: -11px;
  top: -11px;
}

.grid__img {
  position: relative;
  pointer-events: none;
  border: 10px solid #fff;
}

@media only screen and (min-width: 768px) {
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 583px;
  }
}

@media only screen and (min-width: 1024px) {
  
  .grid__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1165px;
  }
}





/*
h1{
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 5vh;
}

image-slider{
  display: block;
  margin-top: 10vh;
}*/