<div id = "project_selector">
  <section class="grid">
    <div class="grid_container">
      <div class="grid_item" *ngFor="let project of projects">
        <div class="grid_img" (dblclick)= "displayToggle()">
          <img  src="{{project.imageUrl}}" alt="Image of {{project.title}}" title="{{project.title}}"   >      
        </div>
        <div class = "grid_caption" >
          {{message}}
        </div>
      </div>
    </div>
  </section> 
  <section [@changeDivSize]= displayProjectState >
    <image-slider></image-slider>
    <div id = "image_slider_close_link" (click)= "displayToggle()">
      Close
    </div>
  </section> 
  
</div>

