<div id = "image_slider_main">
  <div id="project_title">
    Project Title
  </div>
  <ng-image-slider [images]="imageObject" #nav  (imageClick)=showClickedImage($event)></ng-image-slider>
  <div id="project_blurb">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Ornare suspendisse sed nisi lacus sed viverra tellus in hac. Convallis aenean et tortor at risus viverra. Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Pharetra et ultrices neque ornare. Auctor elit sed vulputate mi.
  </div>
</div>