#fourofour{

  background-image:url("/assets/images/404/crumbs-square.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  height: 50vw;

}