#bottom_nav{
  position: absolute;
  height: 3vh;
  width: 60vw;
  top: 99vh;
  border-top: solid rgba(235, 235, 235, 1.0);
  background-color: rgba(218, 218, 218, 0.7);
}

#social_icons{
  float:left;
}

#social_icons ul{
  margin: 0;
  padding: 0;
}

#social_icons li {
  display: inline-block;
  margin: 0 8px;
}

#copyright{
  float: right;

}

@media only screen
  and (min-device-width: 319px) 
  and (max-device-width: 790px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #bottom_nav {
      width: 90%;
      padding:0 3%;
      font-size: 14px
    }
  }
