#main{
  width: 60vw;
  margin: 0 auto;
  position: relative;
  padding:0 5%;
}



@media only screen
  and (min-device-width: 319px) 
  and (max-device-width: 790px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #main {
      width: 100%;
      padding:0 3%;
      font-size: 14px
    }
  }
