body{
  background-color:
  rgba(247, 247, 247, 1.0);
  background-image: url('/assets/backgrounds/kitchen roll 2.jpg');
  color:rgba(164, 253, 50, 1.0);
  font-family: 'Times new Roman';

}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}


@media only screen and (max-width: 768px) {
  body{
    margin: 0;
    padding-left: 10px;
    padding-right:10px;
  }
}